# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code / IDE
.vscode/
.idea/

# ==============================
# ML / Data Files
# ==============================

# Ignore all training experiment folders
saved_models/

# Ignore generated data files
*.npy
*.csv

# Ignore all pickle files by default
*.pkl

# ==============================
# 🚀 Production Model Exception
# ==============================

# Allow artifacts folder
!artifacts/

# Allow only production model
!artifacts/model.pkl
